
<div id="home" class="container-fluid">
  <div class="container">
     
  </div>
</div>
<hr>
<div id="water" class="container-fluid">

  <div class="container">
  <div class="row">
    <div class="col-sm bora">
      Bora
    </div>
    <div class="col-sm home">
       Explore
    </div>
    <div class="col-sm viva">
      Viva
    </div>
  </div>
</div>

<div class="card home-card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Peaceful and quiet, but fun, so full of cool activities and more; spiritual to the core and you leave with fully recharged batteries</p>
      <footer class="blockquote-footer cite">Someone famous in <cite class="cite" title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
  
</div>

<hr>

<div class="jumbotron jumbotron-fluid para">
  <div class="container">
    <h1 class="display-4 book">Book Today</h1>
     <img class="wave" src="assets/img/wave.gif" width="100" height="100"  alt="">
  </div>
</div>


<hr>



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/caro2.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
    <h5 class="slide">Infinity Pool Bungalow</h5>
    <p class="p-slide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, amet!</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/caro1.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
    <h5 class="slide">Ocean View Lounge</h5>
    <p class="p-slide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, amet!</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/caro3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
    <h5 class="slide">Private Tropical Backyard</h5>
    <p class="p-slide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, amet!</p>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr>

<div class="jumbotron jumbotron-fluid dining">
  <div class="container">
    <h1 class="display-4 dine-title">Ocean Breeze Dining</h1>
    <p class="lead dine-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint nesciunt deleniti facere!</p>
  </div>
</div>

<hr>

<div class="jumbotron jumbotron-fluid boragif ">
  <div class="container">
    <h1 class="display-4 boratext ">Activites To Do</h1>
     
  </div>
</div>


<hr>


<div class="row">
  <div class="col-sm-4">
    <div class="card sail">
      <div class="card-body">
        <h5 class="card-title">Skyline Parasailing</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, doloribus.</p>
        <a href="#" class="btn activities btn-primary">Get Prices</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card snorkel">
      <div class="card-body">
        <h5 class="card-title">Clear Water Snorkeling</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, architecto?</p>
        <a href="#" class="btn btn-primary activities">Get Prices</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card tour">
      <div class="card-body">
        <h5 class="card-title">4WD Island Tour</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, odit?</p>
        <a href="#" class="btn btn-primary activities">Get Prices</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card scuba">
      <div class="card-body">
        <h5 class="card-title">Aquabike</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, consequuntur.</p>
        <a href="#" class="btn btn-primary activities">Get Prices</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card lagoon">
      <div class="card-body">
        <h5 class="card-title">Personal Lagoon Tour</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, nostrum.</p>
        <a href="#" class="btn btn-primary activities">Get Prices</a>
      </div>
    </div>
  </div>
   <div class="col-sm-4">
    <div class="card bar">
      <div class="card-body">
        <h5 class="card-title">24 Hour Swim Up Bar</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, alias!</p>
        <a href="#" class="btn btn-primary activities">Get Prices</a>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="jumbotron jumbotron-fluid comfort ">
  <div class="container">
    <h1 class="display-4 comfort-text ">Comfort Over The Ocean</h1>
     
  </div>
</div>

<hr>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm left">
      
    </div>
    <div class="col-sm middle">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/room1.jpg" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
    <h5 class="slide room-text">Master Room Overlooking Ocean</h5>
    <p class="p-slide room-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, amet!</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/room2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
    <h5 class="slide room-text">Guest Suite w/ Personal Patio</h5>
    <p class="p-slide room-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, amet!</p>
  </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/room3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
    <h5 class="slide room-text">Private Oceanview Bathroom</h5>
    <p class="p-slide room-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, amet!</p>
  </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    </div>
    <div class="col-sm right">
     
    </div>
  </div>
</div>

<hr>


<div class="jumbotron jumbotron-fluid hotel ">
  <div class="container">
    <h1 class="display-4 hotel-text  ">Where peace meets life</h1>
     
  </div>
</div>

<hr>

<footer>
  <a href="#top">Back To Top</a>
</footer>















